/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/gemfiles/.bundle/
*.gemfile.lock
.ruby-version

/rails_test

TAGS

# ignore local builds of the gem
rubocop-dbl*.gem
